{{template "public/header" .}}
<body class="password"><div class="form-container"><form action="/pwd" method="POST"><input name="p" class="form-input" type="text" placeholder="パスワードを入力してください"> <button class="form-button" type="submit">Submit</button></form></div></body>
